<% include head.ejs %>

<div class="container">

    <h1 class="center title">TSL Bioinformatics</h1>

    <!--ROW-->
    <div class="row">
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/oadb.png">
                </div>
                <div class="body">
                    <span>Open Ash Dieback Blog</span>
                    <div class="description">
                        <p>A hub for crowdsourcing information and genomic resources for Ash Dieback</p>
                        <a class="button" href="http://oadb.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/pinet.png">
                </div>
                <div class="body">
                    <span>Pi Net</span>
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/goldengate.png">
                </div>
                <div class="body">
                    <span>Golden Gate</span>
                    <!--http://v0518.nbi.ac.uk/-->
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/effteepee.png">
                </div>
                <div class="body">
                    <span>EffTeePee</span>
                    <!--http://v0569.nbi.ac.uk/-->
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!--ROW-->
    <div class="row">
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/geefu.png">
                </div>
                <div class="body">
                    <span>GeeFu</span>
                    <!--<a class="button" href="http://geefu.tsl.ac.uk">GO</a>-->
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/datahog.png">
                </div>
                <div class="body">
                    <span>Data Hog</span>
                    <!--<a class="button" href="http://data.tsl.ac.uk"> GO</a>-->
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/candisnp.png">
                </div>
                <div class="body">
                    <span>candiSNP</span>
                    <!--http://candiSNP.tsl.ac.uk/-->
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/merit.gif">
                </div>
                <div class="body">
                    <span>Merit</span>
                    <!--http://merit.tsl.ac.uk/-->
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--ROW-->
    <div class="row">
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/synbio.png">
                </div>
                <div class="body">
                    <span>SynBio</span>
                    <!--<a class="button" href="http://geefu.tsl.ac.uk">GO</a>-->
                    <div class="description">
                        <p>A tool I made to do something...</p>
                        <a class="button" href="http://pinet.tsl.ac.uk">Visit</a>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="col3">-->
            <!--<div class="site">-->
                <!--<div class="logo">-->
                    <!--&lt;!&ndash;<img src="/img/datahog.png">&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="body">-->
                    <!--&lt;!&ndash;<span>Data Hog</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;<a class="button" href="http://data.tsl.ac.uk"> GO</a>&ndash;&gt;-->
                    <!--<div class="description">-->
                        <!--<p>A tool I made to do something...</p>-->
                        <!--<a class="button" href="http://pinet.tsl.ac.uk">Visit</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col3">-->
            <!--<div class="site">-->
                <!--<div class="logo">-->
                    <!--&lt;!&ndash;<img src="/img/candisnp.png">&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="body">-->
                    <!--&lt;!&ndash;<span>candiSNP</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;http://candiSNP.tsl.ac.uk/&ndash;&gt;-->
                    <!--<div class="description">-->
                        <!--<p>A tool I made to do something...</p>-->
                        <!--<a class="button" href="http://pinet.tsl.ac.uk">Visit</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col3">-->
            <!--<div class="site">-->
                <!--<div class="logo">-->
                    <!--&lt;!&ndash;<img src="/img/merit.gif">&ndash;&gt;-->
                <!--</div>-->
                <!--<div class="body">-->
                    <!--&lt;!&ndash;<span>Merit</span>&ndash;&gt;-->
                    <!--&lt;!&ndash;http://merit.tsl.ac.uk/&ndash;&gt;-->
                    <!--<div class="description">-->
                        <!--<p>A tool I made to do something...</p>-->
                        <!--<a class="button" href="http://pinet.tsl.ac.uk">Visit</a>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

    </div>

</div>

<% include foot.ejs %>