<% include head.ejs %>

<div class="container">
    <div class="row">
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/oadb.jpg">
                </div>
                <div class="body">
                    <span>Open Ash Dieback Blog</span>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/oadb.jpg">
                </div>
                <div class="body">
                    <span>Open Ash Dieback Blog</span>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/oadb.jpg">
                </div>
                <div class="body">
                    <span>Open Ash Dieback Blog</span>
                </div>
            </div>
        </div>
        <div class="col3">
            <div class="site">
                <div class="logo">
                    <img src="/img/oadb.jpg">
                </div>
                <div class="body">
                    <span>Open Ash Dieback Blog</span>
                </div>
            </div>
        </div>
    </div>
</div>

<% include foot.ejs %>