<% include head.ejs %>

<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->

<div class="nav">
    <div class="brand">
        <img src="/img/brand.png">
    </div>
    <div class="menu">
        <ul>
            <li><a href="#about">About</a></li>
            <li><a href="#crew">The Crew</a></li>
            <li><a href="#projects">Projects</a></li>
            <li><a href="#contact">Contact</a></li>
        </ul>
    </div>
</div>

<div class="hero">
    <div class="container">
        <h1 class="wp1 animated fadeInUp">TSL Bioinformatics Lab</h1>
    </div>
</div>

<section class="about" id="about">
    <div class="container">
        <div class="row">
            <div class="col12">
                <h4>About</h4>
            </div>
        </div>
        <div class="row">
            <div class="col12">
                <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress, banjo normcore trust fund
                    hella. Kinfolk gluten-free lo-fi quinoa. Pabst kitsch ennui hoodie meggings banjo. Schlitz tacos
                    kitsch godard before they sold out. Kale chips chillwave kickstarter photo booth cronut
                    cold-pressed. Banjo fixie umami kombucha affogato gluten-free authentic slow-carb hashtag, hammock
                    pour-over chambray viral VHS normcore.</p>
                <p>Wayfarers DIY chartreuse four dollar toast venmo church-key tattooed meditation lumbersexual. Etsy
                    godard wayfarers, master cleanse man braid brunch try-hard lomo. Stumptown echo park truffaut,
                    readymade pop-up chambray blue bottle schlitz fashion axe banh mi. Sustainable roof party master
                    cleanse, heirloom kogi farm-to-table etsy. Bushwick meditation umami photo booth salvia, selvage
                    viral freegan echo park sustainable. Green juice food truck XOXO pinterest shabby chic. Letterpress
                    fap sartorial humblebrag, venmo skateboard aesthetic microdosing.</p>
                <p>Kickstarter drinking vinegar twee sartorial 90's mumblecore occupy, salvia banh mi master cleanse
                    flexitarian hammock knausgaard. Fixie pork belly cliche kickstarter. Listicle butcher pitchfork,
                    godard austin selvage bitters wayfarers. Aesthetic portland DIY, retro humblebrag meditation tumblr
                    ramps leggings meh artisan craft beer. Ennui offal street art, organic roof party craft beer
                    kombucha portland. Cronut organic hashtag man bun tilde trust fund. Banh mi meh vinyl, cliche
                    listicle polaroid pabst keytar try-hard taxidermy migas flexitarian pop-up poutine.</p>
            </div>
        </div>
    </div>
</section>

<section class="crew" id="crew">
    <div class="container">
        <div class="row">
            <div class="col12">
                <h4>The Crew</h4>
            </div>
        </div>
        <div class="row">
            <div class="col4">
                <div class="crew-member" style="background-image: url(/img/crew/dan.png);">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Dan MacLean</h2>
                            <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li>
                                        <a href="http://www.twitter.com/danmaclean/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://uk.linkedin.com/in/dan-maclean-04365a18">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col4">
                <div class="crew-member" style="background-image: url(/img/crew/shyam_rallapalli.png);">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Shyam Rallapalli</h2>
                            <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li>
                                        <a href="http://www.twitter.com/shyamrallapalli/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li><a href="https://uk.linkedin.com/in/shyam-rallapalli-78866624">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col4">
                <div class="crew-member" style="background-image: url(/img/crew/martin_page.png);">
                    <figure>
                        <figcaption class="overlay">
                            <h2>Martin Page</h2>
                            <p>8-bit aesthetic kitsch 90's humblebrag. Gastropub tacos hoodie letterpress.</p>
                            <div class="crew-socials">
                                <ul>
                                    <li>
                                        <a href="http://www.twitter.com/biodevops/"><i class="fa fa-twitter"></i></a>
                                    </li>
                                    <li>
                                        <a href="https://uk.linkedin.com/in/martin-page-31326b21">
                                            <i class="fa fa-linkedin"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<% include foot.ejs %>